body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#radioControls {
	position: absolute;
	padding: 0;
	margin: 0;
	height: 80px;
	width: auto;
	padding: 3px;
}

#channelpicker {
	position: relative;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	width: 192px;
	height: 70px;
	z-index: 0;
	margin-top: 2px;
}

#currentChannel {
	position: absolute;
	left: 16px;
	top: 0px;
	z-index: 1;
	width: 160px;
	height: 70px;
	overflow: hidden;
}

#channelpicker svg {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 27px;
	z-index: 2;
}

#left-arrow {
	left: 5px;
}

#right-arrow {
	right: 5px;
}

#audioButtons {
	position: relative;
	float: left;
	margin-left: 10px;
	width: 80px;
	height: 80px;
}

.pauseOrPlay {
	position: absolute;
	left: 0px;
	top: 0px;
}

#pause {
	visibility: hidden;
}

#volumeControl {
	position: relative;
	float: left;
	margin-left: 10px;
}

#soundLevels {
	margin: 19px 0px;
	float: left;
}

#volumeInput {
	float: left;
	margin: 33px 0px;
	margin-left: 10px;
}

/*
	Classes for channel backgrounds
*/
.p1 {
	background: url("ikoner.png") 0px 0px;
}

.p2 {
	background: url("ikoner.png") -160px 0px;
}

.p3 {
	background: url("ikoner.png") -320px 0px;
}

.mp3 {
	background: url("ikoner.png") -320px -210px;
}

.p3Urort {
	background: url("ikoner.png") -320px -75px;
}

.nyheter {
	background: url("ikoner.png") 0px -70px;
}

.radioresepsjonen {
	background: url("ikoner.png") -480px -75px;
}

.jazz {
	background: url("ikoner.png") -160px -143px;
}

.klassisk {
	background: url("ikoner.png") -160px -73px;
}

.folkemusikk {
	background: url("ikoner.png") -480px -3px;
}

.gull {
	background: url("ikoner.png") 0px -143px;
}

.sport {
	background: url("ikoner.png") 0px -213px;
}

.super {
	background: url("ikoner.png") -480px -213px;
}

.sápmi {
	background: url("ikoner.png") -160px -213px;
}

.p13 {
	background: url("ikoner.png") -160px -280px;
}

.pyro {
	background: url("ikoner.png") -320px -145px;
}

.rap {
	background: url("ikoner.png") -480px -145px;
}

.p1pluss {
	background: url("ikoner.png") 0px -280px;
}
